[submodule "gemini"]
	path = gemini
	url = /tmp/gogo-agent-modules/gemini
[submodule "jsonpatch"]
	path = jsonpatch
	url = /tmp/gogo-agent-modules/jsonpatch
[submodule "jsonpointer"]
	path = jsonpointer
	url = /tmp/gogo-agent-modules/jsonpointer
[submodule "jsonschema"]
	path = jsonschema
	url = /tmp/gogo-agent-modules/jsonschema
[submodule "memlite"]
	path = memlite
	url = /tmp/gogo-agent-modules/memlite
[submodule "muid"]
	path = muid
	url = /tmp/gogo-agent-modules/muid
[submodule "registry"]
	path = registry
	url = /tmp/gogo-agent-modules/registry
[submodule "scxml"]
	path = scxml
	url = /tmp/gogo-agent-modules/scxml
[submodule "xmldom"]
	path = xmldom
	url = /tmp/gogo-agent-modules/xmldom
